<div class="div-{{ section.id }}">

</div>
{% schema %}
{
    "name": "Hero banner",
    "class": "page-width",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "url",
            "id": "url",
            "label": "URL"
        },
        {
            "type": "checkbox",
            "id": "show_button",
            "label": "Show button",
            "default": true
        }
    ],
    "blocks": [
        {
            "type": "heading",
            "name": "Heading",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading title",
                    "default": "A gift for mum at Christmas"
                }
            ]
        },
        {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Hero banner"
        }
    ]
}
{% endschema %}